<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>RecLab</title>
</head>
<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">
        <h2>RecLab</h2>
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                <p class="lead">From this page it is possible to execute an experiment with RecLab.</p>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form id="run-experiment">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="dataset">Dataset</label>
                        <select class="custom-select d-block w-100" id="dataset" name="dataset" required>
                        </select>
                        <small id="dataset-help" class="form-text text-muted">
                        </small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="splitter">Splitter</label>
                        <select class="custom-select d-block w-100" id="splitter" name="splitter" required>
                        </select>
                        <small id="splitter-help" class="form-text text-muted">
                        </small>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="ratio">Test set size</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="ratio" name="ratio" min="1" max="100"
                                   required>
                            <div class="input-group-append">
                                <span class="input-group-text" id="ratio-percentage">%</span>
                            </div>
                        </div>
                        <small id="ratio-help" class="form-text text-muted">
                            The percentage of ratings in the test set.
                        </small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="length">Recommended items</label>
                        <input type="number" class="form-control" id="length" name="length" min="1" required>
                        <small id="length-help" class="form-text text-muted">
                            The number of recommended items per each user.
                        </small>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="threshold">Rating threshold</label>
                        <input type="number" class="form-control" id="threshold" name="threshold" min="0" required>
                        <small id="threshold-help" class="form-text text-muted">
                            The rating threshold between relevant and irrelevant items.
                        </small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="recommenders">Recommenders</label>
                        <select multiple class="custom-select d-block w-100" id="recommenders" name="recommenders"
                                required>
                        </select>
                    </div>
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Run the experiment</button>
            </form>

            <div id="result" class="py-5"></div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="static/reclab.js"></script>
</body>
</html>